[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "Unlicense",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "Unicode-3.0",
]
confidence-threshold = 0.8

[bans]
multiple-versions = "warn"
wildcards = "allow"

[sources]
unknown-registry = "deny"
unknown-git = "deny"

[advisories]
ignore = []
